/* imported files and links  */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* import front  */
@font-face {
  font-family: 'klear regular';
  src: url("../public/fronts/Klear\ -\ Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'klear light';
  src: url("../public/fronts/Klear\ -\ Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'klear bold';
  src: url("../public/fronts/Klear\ -\ Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}




/* custom theme  */
@theme {
  --font-klear-regular: "klear regular";
  --font-klear-light: "klear light";
  --font-klear-bold: 'klear bold';
  --font-playfair-display-regular: "playfair-display-regular"
}




/* daisy ui plagin  */
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  /* set as default */
  prefersdark: false;
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light;
  /* color of browser-provided UI */
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: #e4f3e5;
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: #666666;
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: #3d8c40;
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}




/* declar variable  */
:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* media query */
/* @media () {
  
} */



/* implement style  */
body {
  background: var(--background);
  color: var(--foreground);
  max-width: 2000px;
  font-family: 'klear regular', Arial, Helvetica, sans-serif;
}

.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


@media (min-width: 768px) {
  .bodyCantainer {
    margin: 10px 10px 0px 10px;
  }
}

@media (min-width: 1024px) {
  .bodyCantainer {
    margin: 30px 30px 0px 30px;
  }
}